<ta-header></ta-header>

<div class="tasks-wrapper">
  <div class="tasks-header">
    <h2>Задачи</h2>
    <div class="tasks-header-controls">
      <div class="sort">
        <label>Сортировать по</label>
        <nz-select [ngModel]="query.sort_field" (ngModelChange)="onQueryChange('sort_field', $event)">
          <nz-option nzValue="id" nzLabel="ID"></nz-option>
          <nz-option nzValue="username" nzLabel="Имя пользователя"></nz-option>
          <nz-option nzValue="email" nzLabel="Email"></nz-option>
          <nz-option nzValue="status" nzLabel="Статус"></nz-option>
        </nz-select>
      </div>
      <button *ngIf="query.sort_direction === 'asc'" nz-button (click)="onQueryChange('sort_direction', 'desc')">
        <span nz-icon nzType="sort-ascending"></span>
      </button>
      <button *ngIf="query.sort_direction === 'desc'" nz-button (click)="onQueryChange('sort_direction', 'asc')">
        <span nz-icon nzType="sort-descending"></span>
      </button>
      <button nz-button [nzType]="'primary'" (click)="openTaskForm()" [disabled]="isFetchingTasks">
        <span>Добавить +</span>
      </button>
    </div>
  </div>

  <div class="tasks">
    <ta-task *ngFor="let task of tasks | slice : 0 : maxTasksPerPage" [task]="task"
      (taskFormOpen)="openTaskForm($event)"></ta-task>
    <ng-container *ngIf="isFetchingTasks">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
      <nz-skeleton [nzActive]="true"></nz-skeleton>
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </ng-container>
  </div>

  <div class="pagination" *ngIf="!isFetchingTasks">
    <nz-pagination [nzPageIndex]="query.page" [nzTotal]="maxPages * 10"
      (nzPageIndexChange)="onQueryChange('page', $event)"></nz-pagination>
  </div>
</div>