<h1>Вход в аккаунт</h1>
<form nz-form [nzLayout]="'vertical'" [formGroup]="loginForm" (ngSubmit)="login()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-form-label>Имя пользователя</nz-form-label>
      <input formControlName="username" nz-input placeholder="ВВедите имя пользователя" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-form-label>Пароль</nz-form-label>
      <input formControlName="password" nz-input type="password" placeholder="Введите пароль" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [nzLoading]="isLoggingIn">Войти</button>
    </nz-form-control>
  </nz-form-item>
</form>
